:root {
    --main-bg-color: #202020;
    --text-color: #e7e6e6;
    --hover-color: #E66000;
  }
  * {
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 500;
  }
  
  body {
    background-color: var(--main-bg-color);
    color: var(--text-color);
  }
  
  header {
    color: var(--text-color);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color:var(--main-bg-color); 
    z-index: 1000;
  }

  #Prof {
    width: 25px;
    border-radius: 15%;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    width: 100%;
  }

  nav h1 {
    padding-left: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .nav-links {
    display: flex;
    list-style: none;
    color: var(--text-color);
    font-weight: bold;
    font-size: 14px;
  }
  ul {
    display: flex;
    list-style: none;
    color: var(--text-color);
    font-weight: bold;
    font-size: 14px;
    gap: 10px;
    padding-right: 20px;
}

.nav-links li {
    cursor: pointer;
    display: inline-block;
    padding: 2px 10px;
    border-radius: 3%;
    position: relative; 
}

.notification {
    display: none; 
    position: absolute; 
    background-color: #302e2ea2; 
    color: white;
    padding: 5px;
    border-radius: 5px;
    top: 100%; 
    margin-top: 5px;
    left: 50%; 
    transform: translateX(-50%); 
    white-space: nowrap;
}

.nav-links li:hover {
    color: var(--hover-color);
    background-color: #302e2ea2;
}

.nav-links li:hover .notification {
    display: block; 
}


  
  a {
    border-radius: 10%;
    text-decoration: none;
    display: inline-block;
    padding: 2px 2px;
    color: var(--text-color);

  }
  
  a:hover {
    background-color: #302e2ea2;
  }
  

  #background {
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: relative;
  object-position: 10% 75%;
  }

  #Foto-Profil-Home {
  width: 100px;
  border-radius: 5%;
  position: absolute;
  left: 7%;
  top: 35%;
  transform: translateX(1%);
  
  }
  .content-head{
  margin-top: 7vh;
  display: inline-block;
  margin-left: 14vh;
  
  }


  .content-head h1 {
  font-size: 24px;
  margin-top: 1px;
  font-weight: 600;
  }
  .content-head p {
  font-size: 14px;
  padding: 3px;
  opacity: 0.7;
  border-radius: 5%;
  cursor: pointer;
  margin-bottom: 0.2vh;
  margin-top: 10px;
  }

  .container{
    margin: 0 12vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 10px ;
  }
  .container2 p{
    font-size: 15px;
    opacity: 1;
    border: solid rgb(78, 78, 78) 1px;
    padding: 20px;
    display: inline-block;  
  }


  .container1 p{
    font-size: 15px;
    opacity: 1;
    margin-top: 0;
    display: inline-block;  
  }

  .container1 h1{
    border-bottom: #bdbdbd83 1px solid;
  }

  .container2 h1{
    width: 96%;
    border-bottom: #bdbdbd83 1px solid;
  }
  .container3 h1{
    width: 80%;
    border-bottom: #bdbdbd83 1px solid;
  }
  #contact {
    display: grid;
    gap: 1px; 
}

#contact a {
    font-size: 15px;
    opacity: 0.7;
    display: flex;
    padding: 10px; 
    align-items: center; 
    border-radius: 2%;
    text-decoration: none; 
}

#contact #ig {
    background-color: #e66000; 
    color: white; 
}

#contact #tw {
    background-color: #4d629f6c; 
    color: white; 
}
#contact #ln {
    background-color: #0077b5; 
    color: white;
}

#contact a:hover {
    opacity: 1;
}


#navigasi {
  display: grid;
  gap: 1px; 
}

#navigasi a {
  font-size: 15px;
  opacity: 0.7;
  display: flex;
  padding: 10px; 
  align-items: center; 
  border-radius: 2%;
  text-decoration: none; 
}

#navigasi #ig {
  background-color: #4d4d4c; 
  color: white; 
}

#navigasi #tw {
  background-color: #4d4d4c; 
  color: white; 
}
#navigasi #ln {
  background-color: #4d4d4c; 
  color: white;
}

#navigasi a:hover {
  opacity: 1;
}
.Project {
  display: grid;
  margin-left: 5px;
  margin-right: 5px;
  row-gap: 0px; 
}

.Project-col {
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Project-col p {
  font-size: 16px;
  opacity: 0.9;
  border: none;
  margin-top: 2px;
  padding: 0px;
  width: 90%;
}
.Project-col h4{
  font-size: 20px;
  opacity: 1;
  margin-top: 0;
  padding: 0px;
}

.Project-col img {
  width: 80%;
  border-radius: 1%; 
}


footer{
  text-align: center;
  border-top: #4d4d4c 1px solid;
  margin-top: 20px;
}


.container-library {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  overflow: hidden;
  padding-bottom: 0; 
  margin-bottom: 0;
  border-bottom: #4d4d4c 1px solid;
}

.books-container {
  display: flex;
  overflow: hidden;
  overflow-x: auto; 
  margin-bottom: 0px;

}

.books {
  display: flex;
  flex-direction: row; 
  align-items: flex-end; 
  margin-bottom: 0px;
  overflow-y: hidden;


}

.books img {
  height: auto;
  max-height: 40%;
  width: auto;
  opacity: 0.7;

}

.books img:hover {
  opacity: 1;
}

.Project {
  .Project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 12vh;
  }

  .Project-container1,
  .Project-container2,
  .Project-container3 {
    display: inline-block;
    align-content: center;
    text-align: center;
  }
  .Project-container1 p {
    font-size: 16px;
    margin-top: 5px;
    font-weight: 500;
    line-height: 1.5;
    margin: auto;

    width: 50%;
  }
  .Project-container1 img {
    display: flex;
    margin: 0 auto; 
    border-radius: 5%;
    border: #0077b5 1px solid;
  }

  .foto-project {
    width: 120vh;
    margin: 0 auto; /
  }
}

@media screen and (max-width: 1000px) {
  #Foto-Profil-Home {
    width: 100px;
    border-radius: 5%;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    }

    .content-head {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 10vh 0 0 0;
    }
    
    .content-head h1 {
      font-size: 24px;
      margin-top: 1px;
      font-weight: 600;
    }
    
    .content-head p {
      font-size: 14px;
      padding: 3px;
      opacity: 0.7;
      border-radius: 5%;
      cursor: pointer;
      margin-bottom: 0.2vh;
      margin-top: 10px;
    }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0px ;
  }
  .container2 p{
    font-size: 15px;
    opacity: 1;
    border: solid rgb(78, 78, 78) 1px;
    padding: 6px;
    display: inline-block;  
  }

  .Project .Project-container1 img {
    width: 36vh;
  }
  .Project .Project-container1 p {
    font-size: small;
    text-wrap: balance;

  }
}

@media screen and (max-width: 600px) {
  #Foto-Profil-Home {
    width: 100px;
    border-radius: 5%;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
    }

    .content-head {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 10vh 0 0 0;
    }
    
    .content-head h1 {
      font-size: 24px;
      margin-top: 1px;
      font-weight: 600;
    }
    
    .content-head p {
      font-size: 14px;
      padding: 3px;
      opacity: 0.7;
      border-radius: 5%;
      cursor: pointer;
      margin-bottom: 0.2vh;
      margin-top: 10px;
    }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0px ;
  }
  .container2 p{
    font-size: 15px;
    opacity: 1;
    border: solid rgb(78, 78, 78) 1px;
    padding: 6px;
    display: inline-block;  
  }

  .Project .Project-container1 img {
    width: 36vh;
  }
  .Project .Project-container1 p {
    font-size: small;
    text-wrap: balance;

  }
  
}